################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/SESE/bin/Debug
/SESE/obj/Debug
/SESE/bin/Release
/SESE/obj/Release

# Private design specs / implementation plans (kept out of source control)
/docs/superpowers/
